body {
  font-family: Helvetica, Arial, sans-serif;
}
#wrapper {
  margin: 0 auto;
  width: 600px;
}
#title {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
#about-link-wrapper {
  text-align: center;
}
#about-link {
  font-size: small;
  font-style: italic;
  text-decoration: none;
  text-align: center;
}
h1 {
  font-size: 2em
}
h2 {
  font-size: 1.25em;
  margin-top: 1.5em;
}
h3, h4 {
  font-family: 'Bitstream Vera Sans', sans-serif;
  font-size: 84%;
}
h4 {
  font-size: 75%;
  font-weight: normal;
}
blockquote {
  border-left: 1px solid gray;
  padding-left: 8px;
  margin-left: 32px;
}
pre, code {
  color: #080;
}

