h1 {
  font-size: 1.5em
}
h2 {
  font-size: 1.25em;
  margin-top: 1.5em;
}
h3 {
}
h3, h4 {
  text-transform: uppercase;
  font-family: 'Bitstream Vera Sans', sans-serif;
  font-size: 84%;
}
h4 {
  font-size: 75%;
  font-weight: normal;
}
p, pre {
}
li p {
}
ol, ul {
}
blockquote {
  border-left: 1px solid gray;
  padding-left: 8px;
  margin-left: 32px;
}
blockquote p {
}
