  <span class="markred">&#9997;</span>
  <a href="/about.html">About</a><br>
  <span class="markyellow">&#9999;</span>
  <a href="/design/design-intro.html">Design</a><br>
  <span class="markorange">&#9999;</span>
  <a href="/code.html">Code</a><br>
  <span class="markgreen">&#9999;</span>
  <a href="/archive.html">Archive</a><br>
  <a href="http://feeds.feedburner.com/Nerdflation" rel="alternate" type="application/rss+xml"><img id="feed" src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="" style="vertical-align:middle;border:0;width:12px;height:12px" /></a>&nbsp;<a href="http://feeds.feedburner.com/Nerdflation" rel="alternate" type="application/rss+xml">subscribe</a><br>
