---
layout: bare
---

<td id="leftnav">
  {% include standard-menu.html %}

  <br>
  <div id="design-links-header">
    <a href="/design/design-intro.html">Planning Docs</a>:</div>
  <ol id="design-links">
    <li><a href="/design/pep.html">Project Engagement</a></li>
    <li><a href="/design/user-model.html">User Model</a></li>
    <li><a href="/design/design-decisions.html">Design Decisions</a></li>
    <li><a href="/design/iteration-plan.html">Iteration Plan</a></li>
    <li><a href="/design/subproject-plan.html">Subproject Plan</a></li>
    <li><a href="/design/style-guide.html">Style Guide</a></li>
  </ol>
</td>
<td id="content">
  {{ content }}
</td>

{% include create-anchors-script.html %}
